body,
input,
button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000000;
}

button {
    cursor: pointer;
}

.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}
