.input-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;

    .input-title {
        margin: 48px 0 30px;

        @media screen and (max-width: 768px) {
            margin-top: 16px;
        }
    }
}

.cards-container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 16px;

    .cards-title {
        margin: 32px 0;
    }
}
