.input-form {
    margin-bottom: 60px;
    display: grid;
    @media screen and (max-width: 768px) {
        justify-content: center;
        margin-bottom: 68px;
    }

    .inputs-form {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: repeat(2, max-content);
        gap: 16px;
        margin-bottom: 24px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #858585;

        @media screen and (max-width: 768px) {
            grid-template-rows: max-content;
            grid-template-columns: max-content;
            max-width: 343px;
        }

        .input-form-image {
            grid-row-start: 1;
            grid-row-end: 4;

            @media screen and (max-width: 768px) {
                grid-row-start: 1;
                grid-row-end: 1;
            }

            .input-form-image-label {
                display: grid;
                width: 288px;
                height: 212px;
                align-items: center;
                justify-content: center;
                border: 2px solid #e5e5e5;
                border-radius: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .input-image {
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
            }
        }

        .input-form-title {
            height: 56px;
            width: 328px;
            padding-left: 15px;
            margin-top: 6px;
            border: 2px solid #e5e5e5;
            border-radius: 4px;

            @media screen and (max-width: 768px) {
                margin-top: 0;
                width: 343px;
            }
        }

        .input-form-description {
            box-sizing: border-box;
            width: 417px;
            resize: none;
            padding: 36px 0 58px 20px;
            border: 2px solid #e5e5e5;
            border-radius: 4px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: $gray-500;

            &::-webkit-scrollbar {
                display: none;
            }

            @media screen and (max-width: 768px) {
                width: 343px;
            }
        }

        .input-form-submit-button {
            justify-self: end;
            padding: 16px 20px;
            background: #ff5a5f;
            border: 1px solid #ff5a5f;
            border-radius: 8px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
            transition: background-color 0.2s linear;

            @media screen and (max-width: 768px) {
                width: 343px;
            }
        }
    }
}
