.card-result {
    display: grid;
    margin-bottom: 190px;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        margin-bottom: 33px;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 24px;
        width: 576px;
        height: 212px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;

        @media screen and (max-width: 1250px) {
            grid-template-columns: 1fr;
            width: 343px;
            height: 424px;
        }

        .card-image {
            grid-row-start: 1;
            grid-row-end: 3;
            width: 288px;
            height: 212px;
            border-radius: 8px;
            object-fit: fill;

            @media screen and (max-width: 1250px) {
                grid-row-start: 1;
                grid-row-end: 2;
                width: 343px;
                height: 212px;
            }
        }

        .card-content {
            display: grid;
            grid-template-rows: repeat(2, max-content);
            row-gap: 8px;
            margin: 24px 24px 24px 0;
            overflow-wrap: break-word;

            @media screen and (max-width: 1250px) {
                grid-template-rows: 1fr;
                justify-content: center;
                margin: 0 52px 24px;
            }

            .card-title {
                width: 240px;
                height: 60px;
                font-family: "Poppins";
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #333333;
            }

            .card-description {
                width: 240px;
                height: 96px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #858585;
            }
        }
    }
}
